<article class ="postContainer" id="post-container">
	<img class = "postImage" src="{{image}}" width= '150' height= '150'>
	<div class="content">
		<p class="author">
			<a>{{author}}</a>
		</p>
		<p class="title">
			<a>{{title}}</a>
		</p>
		<p class="text">
			{{text}}
		</p>
		<p class="id">
			{{postID}}
		</p>
		<p class="topic">
			{{topic}}
		</p>
	</div>
</article>
